* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Base Styles */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1rem;
  position: absolute;
  top: 0;
  z-index: 1000;
}

header img {
  width: 64px;
}

.header_links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
  margin: 0 4rem 0 0;
  padding: 0;
  color: rgb(9, 9, 83);
  cursor: pointer;
}

.search {
  position: relative;
}

.search input {
  width: 250px;
  border: 3px solid rgb(44, 44, 220);
  border-radius: 16px;
  outline: none;
  padding: 5px 20px;
}

.search i {
  position: absolute;
  bottom: 7px;
  right: 20px;
}

.bars {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Menu Styles for Small Screens */
.menu {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 60px;
  right: 10px;
  padding: 10px;
  z-index: 1000;
}

.menu.open {
  display: flex; /* Display menu when open */
}
/* Responsive Styles */
@media screen and (max-width: 768px) {
  .bars {
    display: block; /* Show bars icon */
  }
  .header_links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .header_links ul {
    flex-direction: column;
    gap: 10px;
    margin: 0;
  }
  .search {
    width: 100%;
    margin-top: 1rem;
  }
  .search input {
    width: 100%;
  }
  .menu {
    width: 100%;
    background: #eee;
    top: 90px;
    right: 0;
    justify-content: center;
    align-items: center;
  }
  header {
    background-color: #eee;
  }
}

@media screen and (min-width: 769px) {
  .menu {
    display: flex; /* Default layout for large screens */
    position: static;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .search input {
    width: 100%;
  }
}

/* hero */
.hero {
  background-image: url("../images/hero_bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  padding-top: 12rem;
}
.hero .hero_title {
  font-size: 2.5rem;
  width: 600px;
  height: 250px;
  color: rgb(44, 44, 220);
  margin: 0 1rem;
  background-color: #fff;
  border-radius: 16px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.hero_title button {
  font-size: 18px;
  padding: 10px;
  width: 200px;
  border: 1px solid rgb(9, 9, 83);
  background-color: rgb(9, 9, 83);
  color: #fff;
  margin-top: 1rem;
}
@media screen and (max-width: 789px) {
  .hero .hero_title {
    width: 90%;
    font-size: 1.5rem;
    height: 200px;
  }
  .hero {
    height: 500px;
  }
}
/* tours */
.tours {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tours_title,
.deals_title {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(44, 44, 220);
  margin: 1rem 0;
}
.tours_container,
.deals_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.tours_container {
  background-image: url("../images/tours_bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 0;
}
.tours_item {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 0px 10px 1px;
  overflow: hidden;
}
.tours_item img {
  width: 100%;
}
.tours_item h1 {
  font-size: 22px;
}
.tours_item p {
  padding: 0 1rem 1rem 1rem;
  color: #999;
}
@media screen and (max-width: 989px) {
  .tours_container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 789px) {
  .tours_item {
    width: 90%;
  }
}

/* deals */
.deals {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.deals_container {
  height: 100%;
  width: 100%;
}
.carousel,
.slide,
.carousel-inner {
  width: 85%;
  border-radius: 16px;
}
.carousel-item {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.carousel-item img {
  width: 100%;
  height: 500px;
}
.item_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 10px 1px;
  background-color: #fff;
  border: 2px solid #aaa;
}
.item_content h1 {
  font-size: 4rem;
  font-weight: bold;
  color: rgb(44, 44, 220);
}
.item_content p {
  font-size: 25px;
  font-weight: bold;
}
.item_content button {
  padding: 10px;
  width: 150px;
  border-radius: 16px;
  border: 2px solid rgb(9, 9, 83);
  background-color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.carousel-item .padge_deals {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9999;
  background-color: rgb(9, 9, 83);
  color: #fff;
}
.carousel-item .padge_deals h2 {
  font-size: 1.2rem;
  padding: 10px;
}
@media screen and (max-width: 989px) {
  .item_content h1 {
    font-size: 30px;
  }
  .carousel-item img {
    height: 100%;
  }
}
/* discover */
.discover {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.discover_container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 1px;
  border-radius: 20px;
  overflow: hidden;
}
.discover_container img {
  width: 600px;
}
.discover_content {
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.discover_content h1 {
  font-size: 4rem;
  text-align: center;
}
.discover_content p {
  text-align: center;
}
.discover_content button {
  padding: 10px;
  border: 2px solid rgb(44, 44, 220);
  font-weight: bold;
  font-size: 18px;
  background-color: #fff;
  transition: 0.3s ease;
}
.discover_content button:hover {
  background-color: rgb(44, 44, 220);
  color: #fff;
  border-radius: 16px;
}
@media screen and (max-width: 789px) {
  .discover_container {
    flex-direction: column;
    width: 100%;
  }
  .discover_content button {
    margin-bottom: 1rem;
  }
  .discover_content h1 {
    font-size: 3rem;
    margin-top: 10px;
  }
  .discover_container img {
    width: 100%;
  }
}
@media screen and (max-width: 589px) {
  .discover_content h1 {
    font-size: 2rem;
  }
}
/* join us */
.join_us {
  background-image: url("../images/join_bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 400px;
}
.join_us h1 {
  font-size: 3rem;
  color: rgb(44, 44, 220);
  font-weight: bold;
  margin: 1rem;
}
.join_us input {
  padding: 10px;
  width: 50%;
  border: 2px solid rgb(44, 44, 220);
  border-radius: 16px;
  outline: none;
  margin-bottom: 1rem;
}
.join_us button {
  padding: 10px;
  width: 150px;
  border-radius: 16px;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid rgb(44, 44, 220);
  margin-bottom: 1rem;
}
@media screen and (max-width: 789px) {
  .join_us input {
    width: 90%;
  }
}
/* footer */
footer {
  width: 100%;
  background-color: rgb(9, 9, 83);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
footer img {
  width: 300px;
  height: 300px;
  padding-left: 2rem;
}
.footer_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 2rem;
}
.footer_conent_top {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 1rem;
  margin-bottom: 3rem;
}
.footer_conent_top i {
  background-color: goldenrod;
  border-radius: 50%;
  padding: 1rem;
  font-size: 25px;
  margin: 0 2rem;
}
.footer_conent_top h1 {
  font-size: 1.5rem;
}
.footer_input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer_input p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.footer_input_data input {
  width: 600px;
  border: 2px solid goldenrod;
  border-radius: 16px;
  padding: 10px;
}
.footer_input_data button {
  background-color: goldenrod;
  color: #fff;
  padding: 10px;
  width: 100px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 16px;
}
.icons {
  margin-top: 2rem;
  text-align: center;
}
.icons h1 {
  color: #fff;
  font-size: 35px;
  margin-bottom: 1rem;
}
.icons i {
  color: #fff;
  font-size: 20px;
  margin: 0 1rem;
}
.copyright {
  margin-top: 2rem;
  color: #fff;
}
@media screen and (max-width: 989px) {
  footer {
    flex-direction: column;
    gap: 1rem;
  }
  .footer_input_data input {
    width: 75%;
  }
  .footer_input_data button {
    width: 15%;
  }
  .footer_input_data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
}
@media screen and (max-width: 589px) {
  .footer_input_data input {
    width: 80%;
  }
  .footer_input_data button {
    width: 20%;
  }
  .footer_conent_top {
    flex-direction: column;
  }
  .footer_conent_top h1 {
    font-size: 1.2rem;
    width: 100%;
  }
  footer img {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  .copyright p {
    font-size: 0.9rem;
  }
}
/* Home Page End */

/* All Tours page */
.all_tours {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.all_tours h2 {
  font-size: 2.5rem;
  margin-top: 5rem;
}
.all_tours_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10px;
}
.tour_item {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 10px 1px;
  border-radius: 16px;
}
.tour_item img {
  width: 100%;
}
.tour_item h3 {
  font-size: 1.5rem;
  color: rgb(9, 9, 83);
  font-weight: bold;
}
.tour_item p {
  padding: 0 10px;
  font-size: 1rem;
  width: 100%;
}
.tour_item button {
  padding: 10px;
  width: 100px;
  background-color: #fff;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid rgb(9, 9, 83);
  margin-bottom: 10px;
}
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
.pagination > div {
  background-color: rgb(9, 9, 83);
  color: #fff;
  padding: 1rem;
  border-radius: 16px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (max-width: 789px) {
  .all_tours h2 {
    margin-top: 7rem;
  }
}
/* tours page End */

/* detail page  */
.details {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.details_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}
.details_item {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.details_item img {
  width: 600px;
}
.details_content {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.details_content h2 {
  font-size: 2rem;
  color: rgb(9, 9, 83);
  font-weight: bold;
}
.details_content p {
  width: 400px;
  font-weight: bold;
}
.details_content .stars i {
  color: goldenrod;
}
.details_content .stars i:last-child {
  color: gray;
}
@media screen and (max-width: 789px) {
  .details_item {
    flex-direction: column;
  }
  .details_item img {
    width: 100%;
  }
  .details_content {
    width: 100%;
  }
  .details_content p {
    width: 100%;
  }
}
